@font-face{
    font-family: Larke;
    src:url(../fonts/Larke\ Neue\ Regular.ttf);
}
p{
    font-family: Larke;
}
body{
    font-family: Larke;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-synthesis: none;
}

